<div class="container rounded mt-5 mb-5">
    <form [formGroup]="profileFormData" (ngSubmit)="saveProfile($event)" #profileForm="ngForm">
        <div class="row bg-white">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img
                        src="assets/img/empty-profile-image.png">
                    <span class="font-weight-bold">{{_currentProfile.first}} {{_currentProfile.last}}</span>
                    <span class="text-black-50">{{_currentProfile.roll}}</span>
                    <span class="text-black-50">{{_currentProfile.email}}</span>
                    <span class="text-black-50">CGPA:{{_currentProfile.cgpa}}</span>
                    <span> </span>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Edit Profile</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">First Name</label><input formControlName="firstName"
                                type="text" class="form-control" placeholder="first name" value="">
                            <div *ngIf="profileFormData.get('firstName')?.hasError('required') && profileForm.submitted"
                                id="required">
                                Required
                            </div>
                        </div>


                        <div class="col-md-6"><label class="labels">Last Name</label><input formControlName="lastName"
                                type="text" class="form-control" value="" placeholder="last name">
                            <div *ngIf="profileFormData.get('lastName')?.hasError('required') && profileForm.submitted"
                                id="required">
                                Required
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Phone Number</label><input
                                formControlName='phoneNumber' type="text" class="form-control"
                                placeholder="Enter Phone Number" value="">
                            <div *ngIf="profileFormData.get('phoneNumber')?.hasError('required') && profileForm.submitted"
                                id="required">
                                Required
                            </div>
                            <div *ngIf="profileFormData.get('phoneNumber')?.hasError('pattern') && !profileFormData.get('phoneNumber')?.hasError('required') && profileForm.submitted"
                                id="required">
                                Enter a valid mobile number
                            </div>
                        </div>
                        <div class="col-md-12"><label class="labels">Address</label><input formControlName='address'
                                type="text" class="form-control" placeholder="enter address" value="">
                            <div *ngIf="profileFormData.get('address')?.hasError('required') && profileForm.submitted"
                                id="required">
                                Required
                            </div>
                        </div>
                        <!-- <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" placeholder="enter email id" value=""></div> -->
                        <!-- <div class="col-md-12"><label class="labels">Education</label><input type="text" class="form-control" placeholder="education" value=""></div> -->
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">State</label><input formControlName='state'
                                type="text" class="form-control" placeholder="state" value="">
                            <div *ngIf="profileFormData.get('state')?.hasError('required') && profileForm.submitted"
                                id="required">
                                Required
                            </div>
                        </div>
                        <div class="col-md-6"><label class="labels">City</label><input formControlName='city'
                                type="text" class="form-control" value="" placeholder="city">
                            <div *ngIf="profileFormData.get('city')?.hasError('required') && profileForm.submitted"
                                id="required">
                                Required
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save
                            Profile</button></div>
                    <div class="flex">
                        <div *ngIf="_savedTag">Saved</div>
                        <div *ngIf="_loading">
                            <img id='load-gif' src="assets/img/26.gif" alt="Loading" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience"><span>Achievements</span>
                    </div><br>
                    <div class="achievements-container">
                        <div class="col-md-12"><label class="labels">Achievement 1</label><textarea
                                formControlName="achievement1" type="text" class="form-control" placeholder=""
                                value=""></textarea>
                            <div *ngIf="profileFormData.get('achievement1')?.hasError('required') && profileForm.submitted"
                                id="required">
                                Required
                            </div>
                        </div> <br>
                        <div class="col-md-12"><label class="labels">Achievement 2</label><textarea
                                formControlName="achievement2" type="text" class="form-control" placeholder=""
                                value=""></textarea>
                            <div *ngIf="profileFormData.get('achievement2')?.hasError('required') && profileForm.submitted"
                                id="required">
                                Required
                            </div>
                        </div>
                        <div class="col-md-12"><label class="labels">Achievement 3</label><textarea
                                formControlName="achievement3" type="text" class="form-control" placeholder=""
                                value=""></textarea>
                            <div *ngIf="profileFormData.get('achievement3')?.hasError('required') && profileForm.submitted"
                                id="required">
                                Required
                            </div>
                        </div> <br>
                        <div class="col-md-12"><label class="labels">Achievement 4</label><textarea
                                formControlName="achievement4" type="text" class="form-control" placeholder=""
                                value=""></textarea>
                            <div *ngIf="profileFormData.get('achievement4')?.hasError('required') && profileForm.submitted"
                                id="required">
                                Required
                            </div>
                        </div>
                        <div class="col-md-12"><label class="labels">Achievement 5</label><textarea
                                formControlName="achievement5" type="text" class="form-control" placeholder=""
                                value=""></textarea>
                            <div *ngIf="profileFormData.get('achievement5')?.hasError('required') && profileForm.submitted"
                                id="required">
                                Required
                            </div>
                        </div> <br>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>