<div class="timetable-container">
    <div class="timetable-row">
        <div class="slot-row">
            <div class="day">
                
            </div>
            <div class="slot">
                9:00-10:00
            </div>
            <div class="slot">
                10:00-11:05
            </div>
            <div class="slot">
                11:05-12:10
            </div>
            <div class="slot">
                12:15-1:15
            </div>
            <div class="slot-break">
                
            </div>
            <div class="slot">
                2:00-3:00
            </div>
            <div class="slot">
                3:05-4:05
            </div>
            <div class="slot">
                4:10-5:10
            </div>
        </div>
        <div class="monday-row">
             <div class="day">
                Mon
             </div>
             <div class="slot">
                 <div class="subject-label">CSE</div>
                 <div class="faculty-label">S. K. Mishra</div>
             </div>
             <div class="slot">
                <div class="subject-label">OS</div>
                <div class="faculty-label">S. Sharma</div>
             </div>
             <div class="slot">
                <div class="subject-label">IWT-I</div>
                <div class="faculty-label">S. Sumanta</div>
             </div>
             <div class="slot">
                <div class="subject-label">TOC</div>
                <div class="faculty-label">A.K. Dash</div>
             </div>
             <div class="slot-break">
                 
             </div>
             <div class="slot">
                <div class="subject-label">WSM</div>
                <div class="faculty-label">R. C. Balbantaray</div>
             </div>
             <div class="slot">
                <div class="subject-label">ACBB</div>
                <div class="faculty-label">A. Mohapatra</div>
             </div>
             <div class="slot">
                <div class="subject-label">ROBO</div>
                <div class="faculty-label">S. K. Raj</div>
             </div>
        </div>
        <div class="tuesday-row">
            <div class="day">
                Tue
            </div>
            <div class="slot">
                <div class="subject-label">DCCN</div>
                <div class="faculty-label">S. Shobhanayak</div>
            </div>
            <div class="slot">
                <div class="subject-label">ICE</div>
                <div class="faculty-label">R. K. Giri</div>
            </div>
            <div class="slot">
                <div class="subject-label">CSE</div>
                <div class="faculty-label">S. K. Mishra</div>
            </div>
            <div class="slot">
                <div class="subject-label">IWT-I</div>
                <div class="faculty-label">S. Sumanta</div>
            </div>
            <div class="slot-break">
                
            </div>
            <div class="slot">
                <div class="subject-label">OS</div>
                <div class="faculty-label">S. Sharma</div>
            </div>
            <div class="slot">
                <div class="subject-label">ACBB</div>
                <div class="faculty-label">A. Mohapatra</div>
            </div>
            <div class="slot">
                <div class="subject-label">ROBO</div>
                <div class="faculty-label">S. K. Raj</div>
            </div>
        </div>
        <div class="wednesday-row">
            <div class="day">
                Wed
            </div>
            <div class="double-slot">
                <div class="subject-label">DCCN</div>
                <div class="faculty-label">S. Shobhanayak</div>
            </div>
            <div class="slot">
                <div class="subject-label">IWT-I</div>
                <div class="faculty-label">S. Sumanta</div>
            </div>
            <div class="slot">
                <div class="subject-label">CSE</div>
                <div class="faculty-label">S. K. Mishra</div>
            </div>
            <div class="slot-break">
                
            </div>
            <div class="slot">
                <div class="subject-label">WSM</div>
                <div class="faculty-label">R. C. Balbantaray</div>
            </div>
            <div class="slot">
                <div class="subject-label">ACBB</div>
                <div class="faculty-label">A. Mohapatra</div>
            </div>
            <div class="slot">
                <div class="subject-label">ROBO</div>
                <div class="faculty-label">S. K. Raj</div>
            </div>
        </div>
        <div class="thursday-row">
            <div class="day">
                Thu
            </div>
            <div class="slot">
                <div class="subject-label"></div>
                <div class="faculty-label"></div>
            </div>
            <div class="slot">
                <div class="subject-label">IWT-I</div>
                <div class="faculty-label">S. Sumanta</div>
            </div>
            <div class="slot">
                <div class="subject-label">ROBO</div>
                <div class="faculty-label">S. K. Raj</div>
            </div>
            <div class="slot">
                <div class="subject-label">OS</div>
                <div class="faculty-label">S. Sharma</div>
            </div>
            <div class="slot-break">
                
            </div>
            <div class="slot">
                <div class="subject-label">DCCN</div>
                <div class="faculty-label">S. Shobhanayak</div>
            </div>
            <div class="slot">
                <div class="subject-label">ICE</div>
                <div class="faculty-label">R. K. Giri</div>
            </div>
            <div class="slot">
                <div class="subject-label">TOC</div>
                <div class="faculty-label">A.K. Dash</div>
            </div>
        </div>
        <div class="friday-row">
            <div class="day">
                Fri
            </div>
            <div class="slot">
                <div class="subject-label"></div>
                <div class="faculty-label"></div>
            </div>
            <div class="slot">
                <div class="subject-label">TOC</div>
                <div class="faculty-label">A.K. Dash</div>
            </div>
            <div class="slot">
                <div class="subject-label">OS</div>
                <div class="faculty-label">S. Sharma</div>
            </div>
            <div class="slot">
                <div class="subject-label">DCCN</div>
                <div class="faculty-label">S. Shobhanayak</div>
            </div>
            <div class="slot-break">
                
            </div>
            <div class="slot">
                <div class="subject-label">IWT-I</div>
                <div class="faculty-label">S. Sumanta</div>
            </div>
            <div class="slot">
                <div class="subject-label">WSM</div>
                <div class="faculty-label">R. C. Balbantaray</div>
            </div>
            <div class="slot">
                <div class="subject-label">ICE</div>
                <div class="faculty-label">R. K. Giri</div>
            </div>
        </div>
    </div>
</div>
