<div class="header-row">
    <div class="outliers-logo">
        <img src="assets/img/outliers-logo.png" alt="OutLiers">
    </div>
    <div class="header-heading">
        <div class="header-column-flex">
            <div class="header-column-flex-upper-layer">

            </div>
            <div class="h-layer-1">
                <label>Computer Engineering Portal</label>
            </div>
            <div class="header-column-flex-lower-layer">
                <div class="inner-flex">
                
                </div>
            </div>
        </div>
    </div>
</div>
